.btn-success {
  background-color: $green;
  border-color: $green;
}
.btn {
  border-radius: 0.7rem;
}

.btn-outline-dark {
  color: $gray-500;
  border-color: $gray-500;
}
.rigid-size-btn {
  width: 40%;
}
