$gray : #ededed;
$dark-gray:#6a757e;
$second-blue:#43689e;
$green : #52d03e;
$dark-green :#0ca52f;
$black-blue:#2c3143;

$roboto:  "Roboto Regular", sans-serif;
$roboto-bold:  "Roboto Bold", sans-serif;
$opensans:  "OpenSans Regular", sans-serif;
$opensans-bold:  "OpenSans Bold", sans-serif;